footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:rgb(114, 158, 61);
    height: 5em;
    text-align: center;
    color: white;
    
}
 
div {
    display: block;
    padding: 1em;
}   