<div class="register-form">
  <form class="register">
    <fieldset>
      <h2>Registration Form</h2>

      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
        
        />
      </p>
      <p class="error">Username is required!</p>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          type="email"
          name="email"
          id="email"
          
        />
      </p>
      <!-- <p class="error">Email is required!</p>
      <p class="error">Email is not valid!</p> -->

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
      
        />
        <!-- </p>
      <p class="error">Password is required!</p>
      <p class="error">Password must be at least 4 characters!</p> -->
      </p>

      <p class="field field-icon">
        <label for="rePassword"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
         
        />
      </p>
      <!-- <p class="error">Repeat Password does not match password!</p> -->

      <button>Create Account</button>
      <p class="text">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
