<main>
  <div *ngIf="isLoading">
    <app-loader />
  </div>
  <div *ngIf="!isLoading" class="theme-title">
    <div *ngFor="let dish of dishes" class="theme-container">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <a href="#" class="normal">
            <h2>{{ dish.name }}</h2>
          </a>
          <div class="columns">
            <div>
              <p>
                Date: <time>{{ dish._createdOn }}</time>
              </p>
              <div class="nick-name">
                <p>
                  Username: <span>{{ dish._ownerId }}</span>
                </p>
              </div>
            </div>
            <div class="subscribers">
              <!-- <button class="subscribe">Subscribe</button> -->
              <p>
                Preparing Steps: <span>{{ dish.steps }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
