.wrap {
  margin: 0 auto;
  max-width: 500px;
  background-color: hsla(0, 0%, 85%, 0.8);
}
h3 {
  padding: 5em 0 2em 0;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.home-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-nav li {
  list-style: none;
  margin: 0.35em;
  padding: 0.95em;
}
.home-nav a {
  text-decoration: none;
  cursor: pointer;

  color: white;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 5em;
}
